---
import "../styles/lunora.css";
import LunoraHeader from "../components/LunoraHeader.astro";
import LunoraFooter from "../components/LunoraFooter.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <LunoraHeader />
    <main>
      <slot />
    </main>
    <LunoraFooter />
    <script is:inline src="/main.js" defer></script>
  </body>
</html>
